.preview-item-details {
  display: flex;
  align-items: flex-start;
}
.item-details-img {
  width: 200px;
  height: auto;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-details button {
  width: 12px;
  margin: 5vh 0;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 5vh;
}