.preview-item {
  display: flex;
  margin: 1vh;
  padding: 1vh;
  width: 33vh;
}

.preview-item img {
  width: 150px;
  height: 143px;
  margin: 1vh;
}

.preview-item .item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: flex-start;
}

.preview-item .item-details .item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.preview-item .item-details .item-price {
  font-size: 1.4rem;
}
